.mainGlassBlur {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 40px;
  margin-top: 250px;
}

.mainPart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .mainGlassBlur {
    margin-top: 150px;
    padding: 20px;
  }

  .mainPart {
    font-size: smaller;
    margin-top: 100px;
  }
}
