.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  border-radius: 20%;
}

.fa-whatsapp {
  background: #25d366;
  color: white;
}

.fa-linkedin {
  background: #0a66c2;
  color: white;
}

.fa-github {
  background: #333333;
  color: white;
}

.fa-instagram {
  background: linear-gradient(#405de6, #c13584, #f56040);
  color: white;
}

@media (max-width: 992px) {
  .fa {
    font-size: 30px;
    width: 50px;
    padding: 20px;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .fa {
    font-size: 25px;
    width: 40px;
    padding: 15px;
    margin: 8px;
  }

  .icons {
    margin-top: 250px;
  }
}
