html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Sağa sola taşmayı engeller */
  position: relative; /* Sabitlik kazandırır */
}
.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.sagicin {
  margin-left: 2rem;
  display: flex;
  gap: 30px;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
}

#mainNav,
#hakkimda,
#yaptiklarim,
#iletisim {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: larger;
}

#hakkimda:hover,
#yaptiklarim:hover,
#iletisim:hover {
  background-color: rgb(88, 84, 92);
  transform: scale(1.05);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  transition: 0.4s ease-in-out;
  z-index: 999;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  bottom: 0;
}

.sidebar.active {
  right: 0;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px 0;
  transition: 0.3s;
}

.sidebar-link:hover {
  color: #aaa;
}

.burger {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .sagicin {
    display: none;
  }

  .burger {
    display: block;
  }
}
