.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 100);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.devamButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
