.footer {
  width: 100%;
  text-align: center;
  margin-top: auto; /* iç akışta alta it */
  z-index: 999;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer a {
  color: inherit;
  text-decoration: underline;
}
