.qr-code-generator {
  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.28);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: fit-content;
  margin: auto;
}

input {
  width: 250px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #f0f0f0;
  cursor: pointer;
}
