#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
}

.app-content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

.app-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
