#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  box-sizing: border-box;
  font-size: larger;
}

.app-content {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.app-inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
